<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

</style>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Time Calculator</h2>

  <div class="card-container">


  <form class="example-form">
  
    <mat-form-field style="width: 100%;">
    <input matInput style="width: auto;" type="datetime-local" [formControl]="departureDateControl"
                  placeholder="Choose a date" (change)="updateValue()" >
</mat-form-field>

    <!--<ngx-datetime-picker [(selectedDateTime)]="dateExample" doNotCloseOnDateSet="true" ></ngx-datetime-picker>-->
    <!-- <input matInput name="datevalue" class="form-control" 
    [(ngModel)]="departureDateModel"
    (change)='updateValue()'
      type="datetime-local" value="2020-03-22T00:00:00"
           placeholder="Ex. 2020-03-13"> -->
           <br/>
    <ng-select
      [items]="options" name="city"
      [virtualScroll]="true" height="60"
      [loading]="loading"
      placeholder="Departure City or Airport"
      (scroll)="onScroll($event)"
      (scrollToEnd)="onScrollToEnd()"
      [(ngModel)]="departureAirportModel"
      (change)='updateValue()'
      [searchFn]="customSearchFn">
    <ng-template ng-label-tmp let-item="item">
      <p>{{item.city}} - {{item.airport_name}}<br/><small>Timezone: {{item.time_zone}}</small></p>
  </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">
    <p style="margin: 2px; padding: 5px; line-height: normal;">{{item.city}} - {{item.airport_name}} <br/><small>{{item.time_zone}}</small></p>
    </ng-template>
    </ng-select>

    <p style="font-size: large;">After 336 Hours (HK Time): <br/><span *ngIf="hongkongAddTime!=null" style="font-size: xx-large;">{{hongkongAddTime}}</span></p>

  </form>

</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
